body{
  background-color: #DEAFB9;
  font-family: 'Verdana';
  width: 60%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 50px;
}

.pinfo, .minfo{
  background-color: #FCF5E5;
  border: 2px solid #C08A97;
  border-radius: 6px;
}

.pinfo legend, .minfo legend{
  background-color: #E0A0B1;
  border: 2px solid #C08A97;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
}

.pinfo input, .minfo input, select{
  display: block;
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-family: Verdana;
}
  
.pinfo input:focus, .minfo input:focus {
  outline: none;
  border-color: #007BFF;
  background-color: #e9e9e9;
}

input[type="submit"], input[type="reset"], button[type="submit"], button[type="reset"] {
  font-size: 16px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 6px;
  font-family: Verdana;
}

.pinfo input, .minfo input, select{
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

textarea{font-size: 16px;}

input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 6px;
}

label {
  display: inline-block;
  margin-right: 12px;
  font-weight: bold;
  font-size: 18px;
}
